--
-- PostgreSQL database dump
--

\restrict LWfOfFdkabOOl6ifwgYCqJeCBxdGMmM6Rr8CBEhyCyCtOdVtARtMXeq0iFpFNLQ

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: anuncios; Type: TABLE; Schema: public; Owner: user_intranet
--

CREATE TABLE public.anuncios (
    id integer NOT NULL,
    titulo character varying(200) NOT NULL,
    imagen_url character varying(500) NOT NULL,
    link character varying(500),
    es_interno boolean DEFAULT false,
    contenido text,
    resumen character varying(500),
    orden integer DEFAULT 0,
    activo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.anuncios OWNER TO user_intranet;

--
-- Name: anuncios_id_seq; Type: SEQUENCE; Schema: public; Owner: user_intranet
--

CREATE SEQUENCE public.anuncios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.anuncios_id_seq OWNER TO user_intranet;

--
-- Name: anuncios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_intranet
--

ALTER SEQUENCE public.anuncios_id_seq OWNED BY public.anuncios.id;


--
-- Name: directorio; Type: TABLE; Schema: public; Owner: user_intranet
--

CREATE TABLE public.directorio (
    id integer NOT NULL,
    departamento character varying(255) NOT NULL,
    extension character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.directorio OWNER TO user_intranet;

--
-- Name: directorio_id_seq; Type: SEQUENCE; Schema: public; Owner: user_intranet
--

CREATE SEQUENCE public.directorio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.directorio_id_seq OWNER TO user_intranet;

--
-- Name: directorio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_intranet
--

ALTER SEQUENCE public.directorio_id_seq OWNED BY public.directorio.id;


--
-- Name: documentos; Type: TABLE; Schema: public; Owner: user_intranet
--

CREATE TABLE public.documentos (
    id integer NOT NULL,
    titulo character varying(200) NOT NULL,
    categoria character varying(50) NOT NULL,
    tipo character varying(10) NOT NULL,
    fecha date DEFAULT CURRENT_DATE,
    url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.documentos OWNER TO user_intranet;

--
-- Name: documentos_id_seq; Type: SEQUENCE; Schema: public; Owner: user_intranet
--

CREATE SEQUENCE public.documentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.documentos_id_seq OWNER TO user_intranet;

--
-- Name: documentos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_intranet
--

ALTER SEQUENCE public.documentos_id_seq OWNED BY public.documentos.id;


--
-- Name: noticias; Type: TABLE; Schema: public; Owner: user_intranet
--

CREATE TABLE public.noticias (
    id integer NOT NULL,
    titulo character varying(200) NOT NULL,
    contenido text NOT NULL,
    imagen_url character varying(500),
    fecha_publicacion date DEFAULT CURRENT_DATE,
    autor character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.noticias OWNER TO user_intranet;

--
-- Name: noticias_id_seq; Type: SEQUENCE; Schema: public; Owner: user_intranet
--

CREATE SEQUENCE public.noticias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.noticias_id_seq OWNER TO user_intranet;

--
-- Name: noticias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_intranet
--

ALTER SEQUENCE public.noticias_id_seq OWNED BY public.noticias.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: user_intranet
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    nombre character varying(100) NOT NULL,
    rol character varying(20) DEFAULT 'user'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuarios OWNER TO user_intranet;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: user_intranet
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO user_intranet;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_intranet
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: anuncios id; Type: DEFAULT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.anuncios ALTER COLUMN id SET DEFAULT nextval('public.anuncios_id_seq'::regclass);


--
-- Name: directorio id; Type: DEFAULT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.directorio ALTER COLUMN id SET DEFAULT nextval('public.directorio_id_seq'::regclass);


--
-- Name: documentos id; Type: DEFAULT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.documentos ALTER COLUMN id SET DEFAULT nextval('public.documentos_id_seq'::regclass);


--
-- Name: noticias id; Type: DEFAULT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.noticias ALTER COLUMN id SET DEFAULT nextval('public.noticias_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: anuncios; Type: TABLE DATA; Schema: public; Owner: user_intranet
--



--
-- Data for Name: directorio; Type: TABLE DATA; Schema: public; Owner: user_intranet
--



--
-- Data for Name: documentos; Type: TABLE DATA; Schema: public; Owner: user_intranet
--



--
-- Data for Name: noticias; Type: TABLE DATA; Schema: public; Owner: user_intranet
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: user_intranet
--

COPY public.usuarios (id, username, password, nombre, rol, created_at) FROM stdin;
1	admin	admin123	Administrador	admin	2025-12-15 16:16:44.683511
\.


--
-- Name: anuncios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_intranet
--

SELECT pg_catalog.setval('public.anuncios_id_seq', 6, true);


--
-- Name: directorio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_intranet
--

SELECT pg_catalog.setval('public.directorio_id_seq', 160, true);


--
-- Name: documentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_intranet
--

SELECT pg_catalog.setval('public.documentos_id_seq', 10, true);


--
-- Name: noticias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_intranet
--

SELECT pg_catalog.setval('public.noticias_id_seq', 5, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_intranet
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: anuncios anuncios_pkey; Type: CONSTRAINT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.anuncios
    ADD CONSTRAINT anuncios_pkey PRIMARY KEY (id);


--
-- Name: directorio directorio_pkey; Type: CONSTRAINT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.directorio
    ADD CONSTRAINT directorio_pkey PRIMARY KEY (id);


--
-- Name: documentos documentos_pkey; Type: CONSTRAINT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.documentos
    ADD CONSTRAINT documentos_pkey PRIMARY KEY (id);


--
-- Name: noticias noticias_pkey; Type: CONSTRAINT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.noticias
    ADD CONSTRAINT noticias_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_username_key; Type: CONSTRAINT; Schema: public; Owner: user_intranet
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_username_key UNIQUE (username);


--
-- PostgreSQL database dump complete
--

\unrestrict LWfOfFdkabOOl6ifwgYCqJeCBxdGMmM6Rr8CBEhyCyCtOdVtARtMXeq0iFpFNLQ

