/* src/components/Layout/Footer.css */

.footer {
  background-color: var(--color-primary); /* Mismo azul oscuro del header */
  color: rgba(255, 255, 255, 0.8);
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 3);
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
  margin-top: auto; /* Empuja el footer a la parte inferior */
  height: 50px; /* Altura fija */
}

.footer-nav .footer-link {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 var(--spacing-unit);
}

.footer-nav .footer-link:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}