/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

.content-area {
  flex: 1; /* Ocupa el espacio restante después de la Sidebar */
  padding: calc(var(--spacing-unit) * 3);
  background-color: white; /* Contenido principal en blanco para contraste */
  border-radius: 8px; /* Bordes ligeramente redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* Sombra sutil */
  margin: calc(var(--spacing-unit) * 2);
}